
<div class="text-center">
  <div class="caption">
    <h1>Eater Reader</h1>
    <p>Get all the articles from Eater in one place for easy browsing, saving, and commenting</p>
  </div>
</div>

<div>
  <ul>    
    {{> articles/unsaved-block saved=true}}          
  </ul>
</div>
    
  