body {
    background-color: red;
    font-family: 'Titan One', cursive;
}

a {
    color: black;
}



/*   Button Styles   */
/* ============================================================= */

.btn-success {
    background-color: red;
   }

.comment-btn, .btn-success {
    padding:.5em;
    margin: .2em;
    
}

.btn-success:hover {
    color: red;
    background-color: white;
    border: .2em solid red;
}

.comment-btn:hover {
    background-color: white;
    border: .2em solid black;
    color: black;
}

.btn-group {
    width: 16em;
}

/*   Header Styles   */
/* ============================================================= */

.navbar {
    margin-bottom: 1em;
    box-shadow: 0 1em 2em rgb(100,0,0,.8);
    position: fixed;
    top:0;
    width: 100%;
    background-color: #fff; 
    z-index: 100;
}

.navbar-header {
    background-color: red;
    padding-left: .5em;
    font-weight: bold;
}

.navbar-brand {
    color: white;
    font-size: 3em;
    text-shadow: 0.05em 0.05em 0.05em #820e1d;
}


/*   Panel Styles   */
/* ============================================================= */

ul {
    list-style-type: none;
    padding-left: -0;
}

.panel {
    padding: 1em;
}

.panel, .jumbotron {
    border-radius: 1em;
}

.author {
    padding: 0 1em 0 0;
    float: right;
    border-bottom: .3em solid red;
    
}

.title {
    font-size: 3em;
    border-left: .1em solid red;
    padding-left: .2em;
}

.title:hover {
    color: red;
    

}



   
.caption h1 {
    color: red;
    text-shadow: 0.05em 0.05em 0.05em #820e1d;
}

@media (max-width:768px){
    body {
        margin-top: 13em;
    }

    .title {
        font-size: 1.5em;
    }

    .navbar-brand  {
        font-size: 2em;
    }
}